
* {
    padding: 10px;
    background-color: lemonchiffon;
}

html,
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gsapp {
    font-size: 100px;
    color: rgb(97, 173, 198);
}
